@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

body {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    font-weight: 300;
    background: #2b2626;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-weight: 500;
}

h2 {
    text-align: center;
}

#box {
    margin-top: 10px;
    text-align: center;
    align: center;
    border-style: solid;
    border-color: dodgerblue;
}